*, *::after, *::before {
    box-sizing: border-box;
    border-radius: 1.5vmax;
    border: .25vmin solid orange;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    align-self: center;

    justify-items: center;
    justify-content: center;
    justify-self: center;

    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
    display: flex;
    flex-direction: column;
}

h1::after,
h1::before {
    content: ' Hello from CSS ! ';
}

h1::before {
    color: orange;
}

h1::after {
    color: green;
}