* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    height: 50vmin;
    width: 50vmin;
    position: relative;
    transform-style: preserve-3d;
}

div > div {
    position: absolute;
    opacity: .25;
}

div > div:nth-child(1) {
    translate: 0 0 25vmin;
    background: red;
}

div > div:nth-child(2) {
    translate: 0 0 -25vmin;
    rotate: y 180deg;
    background: orange;
}


div > div:nth-child(3) {
    translate: 0 -25vmin 0;
    rotate: x 90deg;
    background: yellow;
}

div > div:nth-child(4) {
    translate: 0 25vmin 0;
    rotate: x -90deg;
    background: green;
}

div > div:nth-child(5) {
    translate: 25vmin 0 0;
    rotate: y 90deg;
    background: blue;
}

div > div:nth-child(6) {
    translate: -25vmin 0 0;
    rotate: y -90deg;
    background: purple;
}

div:not(div>div) {
    animation: 5s spin infinite linear alternate;
}

@keyframes spin {
    0% {
        rotate: 1 0 1 72deg;
    }

    25% {
        rotate: 1 1 0 144deg;
    }

    50% {
        rotate: 0 1 1 216deg;
    }

    75% {
        rotate: 1 0 1 288deg;
    }

    100% {
        rotate: 1 1 0 360deg;
    }
}